<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>My Website - About</title>
    </head>
    <body>
      <h1>Oneil Marshall</h1>
      <p>I am Computer Science major that also is an athlete. I play soccer, basketball and chess.
         I like to read, code, play sports and I'm currently learning how to swim.<br> I'm looking
         forward to graduating this year and then go home to visit my family. This is also my first web app.
      </p>
    </body>
  </html>